<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/
javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/
javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Tiny-Jetty-App</display-name>

	<servlet>
		<servlet-name>UploadPic</servlet-name>
		<servlet-class>com.zonesnap.server.PictureUpload</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadPic</servlet-name>
		<url-pattern>/uploadpic</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadSound</servlet-name>
		<servlet-class>com.zonesnap.server.SoundUpload</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadSound</servlet-name>
		<url-pattern>/uploadsound</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.zonesnap.server.Login</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfileData</servlet-name>
		<servlet-class>com.zonesnap.server.ProfileData</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProfileData</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.zonesnap.server.Register</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ZoneLookup</servlet-name>
		<servlet-class>com.zonesnap.server.ZoneLookup</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ZoneLookup</servlet-name>
		<url-pattern>/zonelookup</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MapData</servlet-name>
		<servlet-class>com.zonesnap.server.MapData</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MapData</servlet-name>
		<url-pattern>/mapdata</url-pattern>
	</servlet-mapping>
</web-app>